#fullpage
  .section#section0
    %video#myVideo{ autoplay: "", loop: "", muted: "" }
      %source{ src: "/assets/petals.mp4", type: "video/mp4" }
    .layer
      %h1= "Jagoda"
      %p= "Salon fryzjerski"
  .section#section1
    .intro
      %h1= "Kontakt"
  .section#section2
    #slide1.slide
    #slide2.slide
    #slide3.slide
  .section Some section
