#fullpage
  #logo.layer
    %h1= "Jagoda"
    %p= "Salon fryzjerski"
  .section#section0
    %video#myVideo{ autoplay: "", loop: "", muted: "" }
      %source{ src: "/assets/petals.mp4", type: "video/mp4" }
  .section#section1
    .intro
      %h1= "Katalog usług"
  .section#section2
    .intro
      %h1= "Kontakt"
  .section#section3
    #slide1.slide
    #slide2.slide
    #slide3.slide
