#fullpage
  .section#section0
    %video#myVideo{ autoplay: "", loop: "", muted: "" }
      %source{ src: "/assets/petals.mp4", type: "video/mp4" }
    .layer
      %h1= "Jagoda"
      %p= "Salon fryzjerski"
  .section
    .slice
    .intro
      %h1= "Galeria"
  .section Some section
  .section Some section
