h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
}

.intro p{
  color: #fff;
  font-family: arial,helvetica;
  font-size: 1.5em;
}

.section{
  text-align:center;
}

.controlArrow.prev {
  left: 50px;
}

.controlArrow.next{
  right: 50px;
}
