@font-face {
  font-family: logo_font;
  src: url(logo_font.ttf);
}

h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #c82d3c;
  margin:0;
}

.logo-text{
  font-size: 8em;
  font-family: logo_font;
  color: #c82d3c;
  margin:0;
}

.logo-subtext{
  color: #c82d3c;
  font-family: logo_font;
  font-size: 4em;
}

.section{
  text-align:center;
}

.fp-slides{
  z-index: 6 !important;
}

.fp-controlArrow.fp-prev {
  left: 50px;
  z-index: 10;
}

.fp-controlArrow.fp-next{
  right: 75px !important;
  z-index: 10;
}

#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

.layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;
  color: #C82D3C;
}

#section0{
  overflow: hidden;
}
#section1{
  background: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#F085B8));
  background: -webkit-linear-gradient(#FFF, #F085B8);
  background: linear-gradient(#FFF, #F085B8);
}
#section2{
  background: -webkit-gradient(linear, top left, bottom left, from(#F085B8), to(#FFF));
  background: -webkit-linear-gradient(#F085B8, #FFF);
  background: linear-gradient(#F085B8, #FFF);
}

.slide{
  z-index: 6;
}
#slide1{
  background-image: url(hair1.jpg);
  padding: 6% 0 0 0;
}
#slide2{
  background-image: url(hair2.jpg);
  padding: 6% 0 0 0;
}
#slide3{
  background-image: url(hair3.jpg);
  padding: 6% 0 0 0;
}

#logo{
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  min-width: 980px;
  height: 100%;
  text-align:center;

  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
#logo.moveToFirst{
-webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
#logo.moveToSecond{
-webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
}
#logo.moveToThird{
-webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
}
#logo.moveToFourth{
-webkit-transform: translate3d(0, 300%, 0);
    -ms-transform: translate3d(0, 300%, 0);
        transform: translate3d(0, 300%, 0);
}
#logo.moveDown .layer{
  top: 50%;
}
#logo.moveDown img{
  top: 155px;
}

#logo.active .layer{
  top: 50%;
}